# General
.DS_Store
Thumbs.db

# VSCode
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt
pyvenv.cfg

# JavaScript / TypeScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist/
/build/
*.log

# Node.js
.npm/
.npmrc
package-lock.json
yarn.lock

# Deno
.denode_modules/
deno.lock